.cart-icon{
    position: relative;
    margin-right:18px;
 }
 
 .cart-icon span{
     background: #f10;
     border-radius: 50%;
     color: white;
     position: absolute;
     top:-42px;
     right: -28px;
     padding: 5px 7px;
     font-size: 0.9rem;
 }

/* Media query cart-icon span iphone 5/SE */
@media only screen and (max-width:320px){
    .cart-icon span{
        top:-45px;
        right: 188px;
    }
}


/* Media query cart-icon span iphone 6/7/8 */
@media only screen and (min-width:321px) and (max-width:375px){
    .cart-icon span{
        top:-46px;
        right: 230px;
    }
}

/* Media query cart-icon span iphone 6/7/8 plus */
@media only screen and (min-width:376px) and (max-width:414px){
    .cart-icon span{
        top:-46px;
        right: 260px;
    }
}

/* Media query cart-icon span iphone X */
@media only screen and (min-width:415px) and (max-width:736px){
    .cart-icon span{
        top:-46px;
        right: 300px;
    }
}

/* Media query cart-icon span  ipad mini */
@media only screen and (min-width:737px) and (max-width:1024px){
    .cart-icon span{
        top:-46px;
        right: 760px;
    }
}



/* Media query cart-icon span desktop */
@media only screen and (min-width:1025px){
    .cart-icon span{
        top:-46px;
        right: -30px;
    }
}

 