.cart-icon{
    position: relative;
    margin-right:18px;
 }
 
 .cart-icon span{
     background: #03a;
     border-radius: 50%;
     color: white;
     position: absolute;
     top:-42px;
     right: -28px;
     padding: 5px 7px;
     font-size: 0.9rem;
 }

 @media screen  and (max-width: 320px){
    .cart-icon span{
        top:-40px;
        right: 195px;
    }
 }

 @media screen  and (max-width: 375px){
    .cart-icon span{
        top:-40px;
        right: 242px;
    }
 }

 @media screen  and (min-width: 768px){
    .cart-icon span{
        top:-42px;
        right: 600px;
    }
 }
     
 @media screen  and (min-width: 1044px){
    .cart-icon span{
        top:-42px;
        right: -28px;
    }

    @media screen  and (min-width: 1024px){
        .cart-icon span{
            top:-42px;
            right: 780px;
        }
     }
    @media screen  and (min-width: 1440px){
        .cart-icon span{
            top:-40px;
            right: -35px;
        }
     }
 }
     