.instagram{
    font-size: 2rem ;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
    margin: 10px;
    border-radius: 20%;
}

.instagram:hover{
    background: #fff;
    transform: scale(1.5);
    color: #fd5949;
    transition: ease-in-out;
}


.facebook{
    font-size: 2rem ;
    color: #3b5998;
    border-radius: 50%;
    margin: 10px;
}

.facebook:hover{
    color: #fff;
    background: #3b5998;
    border-radius: 50%;
    transform: scale(1.5);
    transition: ease-in-out;
}

.text{
    font-size:1.2rem;
}